.header {
  background: white;
  padding: 1.5em 0;
  margin: 0;
}

a {
  color: black;
}

.menu {
  font-size: 15px;
  font-family: 'Open Sans Condensed';
  font-weight: 600;
}

.menu i {
  margin-right: 10px;
}
