<footer id="myFooter" class="col-12">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="logo" style="text-align:center;"><a href="#">
            <img src="./../../assets/img/logofooter.svg" class="img-fluid" style="width:100px;"> </a></h2>
      </div>
      <div class="col-sm-7">
        <h5>Quem Somos</h5>
        <ul>
          <li><a href="#">Anuncie Aqui</a></li>
          <li><a href="#">Últimas Notícias</a></li>
          <li><a href="#">Fale Conosco</a></li>
        </ul>
      </div>
      <!-- <div class="col-sm-2">
        <h5>About us</h5>
        <ul>
          <li><a href="#">Company Information</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Support</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help desk</a></li>
          <li><a href="#">Forums</a></li>
        </ul>
      </div> -->
      <div class="col-sm-2">
        <div class="social-networks">
          <a href="#" class="twitter"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="facebook"><i class="fab fa-twitter"></i></a>
          <a href="#" class="google"><i class="fab fa-instagram"></i></a>
        </div>
        <button type="button" class="btn btn-default">Fale Conosco</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2019 - Todos os direitos reservados ao Portal O Taboanense</p>
  </div>
</footer>
