<div class="container-fluid body">
  <div class="row justify-content-center align-items-start h-100">
    <SPA-header class="col-12 header row justify-content-center" style="padding:0;"></SPA-header>
    <SPA-player class="col-12 fix2" style="padding:0;"></SPA-player>
    <SPA-ad class="col-12 row" style="padding:0;"></SPA-ad>
    <SPA-news style="background:white; padding:2em 1em 1em 1em;"></SPA-news>
    <SPA-list-movies class="col-12 row justify-content-start" style="padding:2em;"></SPA-list-movies>
    <SPA-footer class="col-12" style="padding:0;"></SPA-footer>
  </div>
</div>
