<div class="container-fluid body">
  <div class="row justify-content-center align-items-start h-100">
    <SPA-header class="col-12 header row justify-content-center" style="padding:0;"></SPA-header>
    <SPA-player class="col-12 fix2" style="padding:0;"></SPA-player>
    <SPA-ad class="col-12 row" style="padding:0;"></SPA-ad>
    <SPA-news style="background:white; padding:2em 1em 1em 1em;"></SPA-news>
    <div class="col-12 row" style="background: #e7e7e7; box-shadow: inset 0px 2px 4px rgba(0,0,0,.2);">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- TVTABOANENSE -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5073402446734231" data-ad-slot="8385261178"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});

      </script>
    </div>
    <SPA-list-movies class="col-12 row justify-content-start" style="padding:2em;"></SPA-list-movies>
    <SPA-footer class="col-12" style="padding:0;"></SPA-footer>
  </div>
</div>
