.card a {
  color: black;
}

.card a:hover {
  text-decoration: none;
}

.card-body {
  height: 148px;
}

.card-title {
  font-size: 18px;
  font-weight: 100;
}

.title {
  font-size: 14px;
  padding-bottom: .5em;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.title-txt {
  font-size: 15px;
  padding-top: 15px;
  color: #0055a1;
}


.link {
  margin-top: 1em;
  display: inline-block;
  text-transform: uppercase;
  background: #007bff;
  color: #fff;
  padding: 8PX;
  border-radius: 3px;
  font-weight: 700;
}
